html {
  font-family: sans-serif;
  height: 100vh;
}

body {
  background: #f1f1f1 !important;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 10% auto 50%;
  height: 100%;
  padding: 0.5rem;
  position: relative;
  width: 100%;
}

#app {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-column: 2;
  grid-row: 2;
}

#app > * {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: auto 4rem auto auto;
}

.heading {
  background-color: lightgrey;
  font-size: 1.5rem;
  padding: 0.5rem;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
}

.search-bar {
  grid-column: 2;
  grid-row: 2;
}

.movie-list {
  grid-column: 2;
  grid-row: 3;
}

.movie-list-entry {
}
