:root {
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html {
  font-family: sans-serif;
  height: 100vh;
}

body {
  background: #f1f1f1 !important;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 10% auto auto;
  height: 100%;
  padding: 0.5rem;
  position: relative;
  width: 100%;
}

#app {
  background-color: white;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  grid-column: 2;
  grid-row: 2;
  height: fit-content;
}

#app > * {
  display: grid;
  grid-row-gap: 0.8rem;
  grid-template-columns: [start] 10% [center] 80% 10% [end];
  grid-template-rows: [heading] auto [inputs] auto [filter] auto [movie-list] auto auto;
}

.heading {
  background-color: lightgrey;
  border-radius: 1rem 1rem 0 0;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.8rem;
  grid-column-start: start;
  grid-column-end: end;
  grid-row: heading;
}

.inputs {
  display: grid;
  grid-column: center;
  grid-row: inputs;
  grid-template-columns: [find-and-add] 50% [search-collection] 50%;
  margin-bottom: 1rem;
}

.find-and-add {
  grid-column: find-and-add;
}

.search-collection {
  grid-column: search-collection;
}

.filter {
  grid-column: center;
  grid-row: filter;
}

.movie-list {
  border: 2px lightgrey solid;
  grid-column: center;
  grid-row: movie-list;
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
}

.movie-list-entry {
  background-color: lightgrey;
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: left;
}

.movie-list-entry-title {
  cursor: pointer;
  margin-bottom: 0.5rem;
  width: fit-content;
}

.movie-list-entry-title .tooltip {
  cursor: pointer;
  visibility: hidden;
  width: fit-content;
  background-color: darkslateblue;
  color: #fff;
  font-size: 0.6rem;
  text-align: center;
  padding: 0.2rem;
  position: absolute;
  z-index: 1;
}

.movie-list-entry-title:hover .tooltip {
  visibility: visible;
}

.movie-list-entry-details {
  display: grid;
  font-size: 0.9em;
  grid-template-columns: [metadata] auto [thumbnail] auto;
}

.movie-list-entry-metadata {
  grid-column: metadata;
}

.movie-list-entry-thumbnail {
  align-self: end;
  justify-self: end;
  max-height: 3rem;
  width: auto;
}

.filter > span {
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.filter > span:hover {
  cursor: pointer;
}

input {
  font-size: 1rem;
}

#database-search-dropdown-list {
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: var(--shadow);
  /* min-width: 120px; */
  position: absolute;
  z-index: 100;
}

.dropdown-entry {
  color: darkblue;
  font-size: 0.8rem;
  padding: 0.4rem;
}

.dropdown-entry:hover {
  background-color: darkblue;
  color: white;
  cursor: pointer;
}

.selected {
  background-color: darkslateblue;
  color: white;
  font-weight: 800;
}
